*{
    margin: 0%;
    padding: 0%;
}

nav{
    background-color: #000000;
    color: white;
    padding: 20px;

}

li,ul,h1{
    display: inline;
}
ul{
    padding-left:  60%;
}
li{
    padding-left: 5px;
    color: gray;
    cursor: pointer;
}
li:hover{
    color: white;
}
nav,h1{
    padding-left: 9px;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box{
    border: black 2px solid;
    display: inline-block;
    width: 204px;
}
.box1{
    border: black 2px solid;
    display: inline-block;
    width: 150px;
}
.box2{
    border: black 2px solid;
    display: inline-block;
    width: 200px;
}
.Products{
    text-align: center;
}
.Products :hover{
    background-color: black;
    color: white;
}
.about{
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}